html, body {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    background-color: #cfdce6;
}

.Main_Container {
    background-color: #fff;
    padding: 0 !important;
    border-radius: 8px;
}